<% if @post_category.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @post_category.errors.full_messages.each do |error| %>
      <li>
        <%=error %>
      </li>
      <% end %>
    </ul>
    <%end %>
  </div>


<div class="card">
  <div class="card-header"><%= @post_category.new_record? ? 'New' : 'Edit' %> Post Category</div>
  <div class="card-body">
    <%=simple_form_for @post_category do |f| %>
      <%= f.input :tittle %>
      <%= f.input :position %>
      <%= f.input :active %>

      <%= f.button :submit, "Save", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>