<!DOCTYPE html>
<html>
  <head>
    <title>Rcms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

  </head>

  <body class="<%=controller_name %> <%action_name %>">
  <%= render 'layouts/partials/header' %>


    <%= yield %>
  <%=console %>
  </body>

  <%= javascript_include_tag 'application' %>
</html>
