<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rcms</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

  </head>

  <body class="<%=controller_name %> <%action_name %>">
  <%= render 'layouts/partials/header' %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'layouts/partials/development' %>
  </body>

  <%= javascript_include_tag 'application' %>
</html>
